DatabaseTest/DatabaseBasicTests/OptionItems.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="OptionItems">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="DatabaseCategory">
          <xs:complexType mixed="true">
            <xs:sequence minOccurs="0">
              <xs:element name="Database">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="TestSet">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element maxOccurs="unbounded" name="ConnectionType">
                            <xs:complexType mixed="true">
                              <xs:sequence minOccurs="0">
                                <xs:element minOccurs="0" name="ConnectionString">
                                  <xs:complexType>
                                    <xs:attribute name="Value" type="xs:string" use="required" />
                                  </xs:complexType>
                                </xs:element>
                                <xs:element maxOccurs="unbounded" name="Test">
                                  <xs:complexType mixed="true">
                                    <xs:sequence minOccurs="0">
                                      <xs:element name="SQL" />
                                    </xs:sequence>
                                    <xs:attribute name="Value" type="xs:string" use="optional" />
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                              <xs:attribute name="Value" type="xs:string" use="required" />
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute name="Value" type="xs:string" use="required" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="Value" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="Value" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>